.header-menu {
    background-color: var(--ion-color-primary);
}
.username-title {
    font-size: 0.9rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  
  code {
    white-space: pre-wrap;
  }